  <footer class="main-footer border-top border-danger border-2 ">
    <h2 class="text-danger py-3">Optum</h2>

    <div class="row g-0">
        <div class="col-md-3">
            <strong>&copy; 2022.</strong> All rights reserved.

        </div>
        <div class="col-md-9">
            <p>
                Data current as of {{date}}.And yet, here you are, still persevering in reading this placeholder text, hoping for some more insights, or some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.
            </p>
        </div>
    </div>
    </footer>